

{% load static %}
<!DOCTYPE <html>
<html lang="es">

<head>
    <meta charset="uft-8" />
    <title>
        {% block title %}
        <!-- TITULO DE CADA PAGINA -->
        {% endblock %}
        | reymond caceres
    </title>
  
       
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/estilos.css' %}"/>
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> -->
        
</head>

<body>
        <!-- cabecera de la pagina -->
    <header>
        
      
        <div id="logotipo">
                <!-- logo django -->
                {% load static %}
                <img src="{% static '/images/logo.png' %}"/>
                <h1>Proyecto con Django</h1>
        </div>
         
     </header>

     <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">INICIO</a>
            </li>

            {% if user.email %}
                <li>
                    <a href="{% url 'list_articles' %}">CATEGORIA</a>
                    <ul>
                        {% for category in categories %}

                            <li>
                                <a href="{% url 'category' category.0 %}">{{category.1}}</a>
                            </li>
                        {% endfor %} 
                        
                    </ul>

                </li>

                {% for page in pages %}
                    <li>
                        <a href="{% url 'page' page.2 %}">{{page.1}}</a>
                    </li>
                {% endfor %} 

                <li>
                    <a href="{% url 'logout' %}">CERRAR SESION</a>
                </li>


            {% else %}      
                <li>
                    <a href="{% url 'register' %}">REGISTRO</a>
                </li>

                <li>

                    <a href="{% url 'login' %}"> LOGIN </a>
                    
                </li>
            {% endif %}
        </ul>

    </nav>


    <br>

    <div id="content">

        <div class="box">
    
            {% block content %}
                <!-- codigo que vienen de templates -->
                <strong> contenido del bloque original!!  </strong>
            {% endblock %}

        </div>
        
    </div>
      
    <footer>
        master en python &copy; Reymond Caceres -{% now "d/m/y" %}
    </footer>

</body>

</html>

