

{% load static %}
<!DOCTYPE <html>
<html lang="es">

<head>
    <meta charset="uft-8" />
    <title>
        {% block title %}
        <!-- TITULO DE CADA PAGINA -->
        {% endblock %}
        | reymond caceres
    </title>
  
       
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/estilos.css' %}"/>
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> -->
        
</head>

<body>
        <!-- cabecera de la pagina -->
    <header>
        
      
        <div id="logotipo">
                <!-- logo django -->
                {% load static %}
                <img src="{% static '/images/logo.png' %}"/>
                <h1>Proyecto con Django</h1>
        </div>
         
     </header>

     <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">Inicio</a>
            </li>
            {% for page in pages %}
            <li>
                <a href="{% url 'page' page.2 %}">{{page.1}}</a>
            </li>
            {% endfor %} 
            
        </ul>

    </nav>

    <div>
        <span class="esquina-izquierda"></span>
        <span class="esquina-derecha"></span>
    </div>

   <br>

    <div id="content">

        <div class="box">
            {% block content %}
                <!-- codigo que vienen de templates -->
                <strong> contenido del bloque original!!  </strong>
            {% endblock %}

        </div>
        
    </div>
      
    <footer>
        master en python &copy; Reymond Caceres -{% now "d/m/y" %}
    </footer>

</body>

</html>

